<!doctype html>
<html>
	<head>
		<title>Job Search List</title>
		<link rel="stylesheet" type="text/css" href="app.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<h1>Status List</h1>
		<div class="container">
			<div class="input-fields">
				<input id="object-input" type="text" placeholder="object" autofocus>	
				<input id="description-input" type="text" placeholder="description">
			</div>

			<div class="list">
			</div>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
		<script
			src="app.js"
			type="text/javascript"></script>
	</body>
</html>
