@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

* {
	border-radius: 10px;
	font-family: 'Do Hyeon', sans-serif;
}

h1 {
	text-align: center;
}

input {
	opacity: .7;
	width: 40%;
	font-size: 1.5em;
	padding: 10px;
	border: none;
	border-bottom: 1px solid lightgrey;
}

input:focus {
	opacity: 1;
}

.list {
	margin: 0 auto;
}

.container {
	width: 50%;
	min-width: 320px;
	margin: 50px auto;
}

.input-fields {
	text-align: center;
}

.item {
	border: solid lightgrey 1px;
	padding: 10px;
	overflow: hidden;
	margin: 10px auto;
}

.header {
	font-size: 1.5em;
	font-weight: bold;
}

.position {
	font-style: italic;
}

.detail {
	padding: 3px;
}

.column {
	float: left;
	vertical-align: top;
	height: 60px;
	box-sizing: border-box;
}

.info {
	width: 50%;
}

.options {
	width: 25%;
	height: 100%;
	border: 1px solid lightgrey;
}

.dropdown {
	opacity: .65;
	position: relative;
	padding: 10px;
	cursor: pointer;
}

.dropdown:hover {
	opacity: .9;
}

.selection {
	opacity; .95;
	display: none;
	background: white;
	border: 1px solid lightgrey;
	padding: 3px;
	width: 100%;
	min-width: 150px;
}

.select {
	opacity: .85;
	text-align: center;
	display: block;
	border: 1px solid lightgrey;
	margin: 10px 5px;
	padding: 3px;
	cursor: pointer;
}

.select.delete {
	text-transform: uppercase;
}

.select:hover {
	background: white;
	font-weight: bold;
}

.status {
	width: 25%;
	background: lightgrey;
}


